<% provide(:title, "Home") %>
<%= render 'layouts/carousel', :articles => @carousel_articles %>
<% @articles.each do |a| %>
	<%= render 'articles/article', :article => a %>
<% end %>
<%= will_paginate @articles, page_links: false %>