<article class="blog-post">
	<header>
		<h1 class="blog-post-title"><%= link_to article.title, article_path(article) %></h1>
		<%= render 'articles/editOptions', :article => article %>
		<small><time><%= article.created_at.strftime("%A #{article.created_at.day.ordinalize}, %B %Y")%></time> by <%= link_to article.author, articles_path(:id => article.user) %></small>
	</header>
	<%= renderText(article.content) %>
	<div class="panel-footer keywords">
		<% article.tags.each do |tag| %>
			<span class="label label-default"><%= link_to tag.keyword.keyword, show_keyword_path(tag.keyword) %></span>
		<% end %>
	</div>
</article>