<% if user_signed_in? %>
	<ul class ="editOptions">
		<li><%= link_to 'Edit', edit_article_path(article)%> </li>
		<li><%= link_to 'Delete', article_path(article), method: 'delete' %></li>
	</ul>
<% end %>