<fieldset>
	<legend>New Article</legend>
	<%= form_for(@article) do |f| %>
		<div class="form-group">
			<%= f.label :title %><br/>
			<%= f.text_field :title %><br/>
		</div>
		<div class="form-group">
			<%= f.label :content %><br/>
			<%= f.text_area :content %><br/>
		</div>
		<%= f.submit 'Post Article' %>
	<% end %>
</fieldset>