<% provide(:title, "Articles By #{@articles[0].author}") %>
<% @articles.each do |a| %>
	<%= render 'articles/articleindex', :article => a %>
<% end %>
<%= will_paginate @articles, page_links: false %>