<% provide(:title, "New Post") %>
<fieldset>
	<legend>New Article</legend>
	<%= form_for(@article, :html => { :multipart => true }) do |f| %>
		<div class="form-group">
			<%= f.label :title %><br/>
			<%= f.text_field :title %><br/>
		</div>
		<div class="form-group">
			<%= f.label :content %><br/>
			<button type ="button" class="btn" id="bold"><strong>B</strong></button>
			<button type ="button" class="btn" id="italic"><i>I</i></button>
			<button type ="button" class="btn" id="underline"><u>U</u></button>
			<button type ="button" class="btn" id="url">URL</button>
			<button type ="button" class="btn" id="blockquote">BQ</button>
     	 	<button type ="button" class="btn" id="ul">UL</button>
       		<button type ="button" class="btn" id="ol">OL</button><br/>
			<%= f.text_area :content %><br/>
		</div>
		<fieldset id="media">
			<legend>Media</legend>
			<ol>
				<%= f.fields_for :article_images do |image| %>
       				<%= link_to_add_association 'add media', f, :article_images, 'data-association-insertion-node' => "#media ol", 'data-association-insertion-method' => "append" %>
       			<% end %>
   			</ol>
		</fieldset>
		<fieldset id="tags">
			<legend>Tags</legend>
			<ol>
				<%= f.fields_for :tags do |tag| %>
    				<%= link_to_add_association 'add tag', f, :tags, 'data-association-insertion-node' => "#tags ol", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|tag| tag.build_keyword; tag} %>
      			<% end %>
      		</ol>
		</fieldset>
		<%= f.submit 'Post Article' %>
	<% end %>
</fieldset>