@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
  h1 {
    font-size:100px;
    margin-bottom: 0%;
  }  
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

article {
    width:50%;
    font-size: 16px;   
    margin-bottom: 2%;
    margin-left: 25%;
    font-family: Arial, Helvetica, sans-serif;

    header {
      margin-bottom: 2%;
      
      h1 {
        margin-bottom: 0%;
      }

      p {
        color: gray;
      }

      small {
        font-style: italic;
      }
    }

    h1 {
      margin-top: 0%;
      margin-bottom: 1%;
      padding-bottom: 0%;
      font-family: "Times New Roman", Helvetica, serif;
      font-size: 32px;
    }

    img {
      display: block;
      margin: 0 auto;
    }

    .keywords {
      background-color: #fff;
      border-bottom: 1px solid #ddd;
      span {
        padding-left : 0%;
        margin-left: 0%;
        background: inherit;
      }
    }
}

.editOptions {
  float: right;

  li {
    display: inline;
    list-style-type: none; 
  }

  a {
  	color: blue;
  	text-decoration: underline;
  	
    &:hover {
    	color: purple;
  	}
  }
}

.carousel-control.left, .carousel-control.right {
  background-image:none;
}

.carousel-inner {	

  img {
		margin: 0px auto;
	}

  a {
    text-decoration: none;
    color: white;
  }
}

legend {
  font-size: 24px;
}

.pagination {
  margin-top: 0%;
  margin-bottom: 2%;
  margin-right: 5%;
  float: right;

  a, span {
    display: inline-block;
  }
}

#bottomSeperator {
  margin-bottom: 0%;
  clear: both;
}

footer {
  margin-top: 3px;
  clear: both;
  
  small {
    margin-right: 2%;
    float: right;
  }
}

form {
  font-size: 200%;
  input[type=text] {
    width: 100%;
  }

  textarea {
    width: 100%;
    height: 500px;
  }
}