<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
  <ol class="carousel-indicators">
   <% articles.each_with_index do |article, index| %>
      <% if index == 0 %>
        <li data-target="#myCarousel" data-slide-to=<%= index %> class="active"></li>
      <% else %>
        <li data-target="#myCarousel" data-slide-to=<%= index %> ></li>
      <% end %>  
    <% end %>
  </ol>

   <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% articles.each_with_index do |article, index| %>
      <% if index == 0 %>
        <%= render 'layouts/carousel_item', :article => article, :active => true %>
      <% else %>
        <%= render 'layouts/carousel_item', :article => article, :active => false %>
      <% end %>  
    <% end %>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>