<div class= "<%= active ? "item active" : "item" %>" >
	<% if article.article_images.size > 0 && article.article_images[0].image.header.file.exists? %>
		<%= link_to(image_tag(article.article_images[0].image.header.url), article) %>
	<% else %>
		<%= image_tag "placeholder.jpg" %>
	<% end %>
	<div class="carousel-caption">
		<h1><%= link_to article.title, article_path(article)  %></h1>
	</div>
</div>