<nav class="navbar navbar-default navbar-fixed-top">
	<ul class="nav navbar-nav">
		<li><a>1</a></li>
		<li><a>2</a></li>
		<li><a>3</a></li>
		<% if user_signed_in? %>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
             			 Account <b class="caret"></b>
            	</a>
				<ul class="dropdown-menu">
					<li><%= link_to 'New Article',new_article_path %></li>
					<li><%= link_to 'Published articles', articles_path%></li>
    				<li><%= link_to 'Edit Profile', edit_user_registration_path  %></li>
    				<li><%= link_to 'Logout', destroy_user_session_path, method: 'delete' %></li>
  				</ul>
  			</li>
		<% end %>
	</ul>
</nav>	